__pycache__
.idea
.DS_Store
darkflow

# output files
output/csv_files/*.csv
output/tsv_files/*.tsv
static/Images/*.jpg
static/Images/out/*.json


# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
csk_sniffer_replicate
csk-testing
csk-env
