<!DOCTYPE html>
<html>
<title>Images</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--
<style>
  * { box-sizing: border-box; }

.container {
  display: flex;
  flex-flow: row wrap;
}

.card-wrap {
  flex: 0 0 33.333%;
  display: flex;
  padding: 10px; /* gutter width */
}

.w3-card, .w3-third, .w3-row-padding, .w3-margin-top{
  flex: 0 0 100%;
}

</style>
-->
<style>
  .w3-card{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
</style>
<body>

<div class="w3-container w3-pink">
  <h2>Images Downloaded</h2>
</div>

<!-- width 695 height 430 -->
<!-- width 725 height 420 -->


<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image 1.jpg" width="571" height="400">
      <div class="w3-container w3-center">
        <h4>Image 1</h4>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image 2.jpg" width="571" height="400">
      <div class="w3-container w3-center">
        <h4>Image 2</h4>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image 3.jpg" width="571" height="400">
      <div class="w3-container w3-center">
        <h4>Image 3</h4>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image 4.jpg" width="571" height="400">
      <div class="w3-container w3-center">
        <h4>Image 4</h4>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image 5.jpg" width="571" height="400">
      <div class="w3-container w3-center">
        <h4>Image 5</h4>
      </div>
    </div>
  </div>
  <!--
  <div class="w3-third">
    <div class="w3-card w3-hover-shadow">
      <img src="../static/Images/Image_5.jpg" style="width:725px" height="420px">
      <div class="w3-container w3-center">
        <h3>Image 5</h3>
      </div>
    </div>
  </div>
  -->

</div>


</body>
</html>
